.payment {
    background: #fff;
}

.payment__container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgrey;
}

.payment__container > h1 > a {
    text-decoration: none;
}

.payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
}

.payment__title {
    flex: 0.2;
}

.payment__adress, .payment__items, .payment__details{
    flex: 0.8;
}


@media screen and (max-width: 940px) {
    .payment__section {
        padding: 20px;
        margin: 0 0;
        flex-direction: column;
    }
    .payment__priceContainer {
        padding: 5px;
    }
    .payment__details > form {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}